  {% load static %}  
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "checker/images/product-search.jpg" %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Find the product</h2>
                <p class="lead mb-0">Enter your favorite product's website.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static "checker/images/notifications.jpg" %}')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Set up notifications</h2>
                <p class="lead mb-0">Choose a desired price and enter the e-mail address you'd like to get notifications when the product reaches the desired price.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "checker/images/graph.jpg" %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Check Price History</h2>
                <p class="lead mb-0">Get a custom link to monitor the product's price.</p>
            </div>
        </div>
    </div>
