{% extends "base.html" %}
{% load static %}

{% comment %}  this html extends base.html and will insert code sections particular to this page into
the template blocks that were predetermined on "base" {% endcomment %}

{% block page-title %}Page Not Found{% endblock %}
{% block header %}
  <h1 class="mb-5">We're sorry!</h1>
  <h3>We couldn't find this page </h3>
  {% comment %}  absolute path reference to home {% endcomment %}
  <a href ="{% url 'starting-page' %}"
    <button class="btn btn-primary btn-md">Return to homepage</button>
  </a>
{% endblock %}