<!-- Product section-->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block page-title %}
Fashion Price Checker
{% endblock %}

{% comment %} {% block css_files %} 
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock %} {% endcomment %}


{% block content %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <form method="post">
                        {% csrf_token %}
                        <h3 class="mb-5">Are you sure you want to stop monitoring "{{ title }}"?</h3>
                        <input type="hidden">
                        <button class="btn btn-primary btn-md">Confirm</button>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}