<!-- Product section-->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block page-title %}
Fashion Price Checker
{% endblock %}

{% comment %} {% block css_files %} 
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock %} {% endcomment %}


{% block header %}
<h3 class="mb-5"> We stopped monitoring your product.</h3>
<a href ="{% url 'starting-page' %}"
    <button class="btn btn-primary btn-md">Track another product</button>
</a>
{% endblock %}