<!-- Product section-->
{% extends "base_product.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block page-title %}
Fashion Price Checker
{% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{%static "checker/page_style.css"%}">
{% endblock %}


{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{%static product.img %}" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"> {{ title }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ current_price }}</span>
                </div>
                <div>
                <h3 class="lead">Price History</p>
               </div>
                <img src="{%static graph %}" alt="..." />
                <div>
                    <a href ="{% url "confirm-delete" product_auth%}"
                        <button class="btn btn-primary btn-sm">Stop monitoring</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}