<!-- Product section-->
{% extends "base_product.html" %}
{% load static %}
{% load percentages %}

{% block page-title %}
Fashion Price Checker
{% endblock %}


{% block css_files %} 
<link rel="stylesheet" href="{%static "checker/page_style.css"%}">
{% endblock %}


{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{%static product.img %}" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder"> {{ title }}</h1>
                    <div class="fs-5 mb-5">
                        <span>Current price: €{{ current_price }}</span>
                    </div>
                    <div>
                        <h6>Change Target Price:</h6>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                            
                            <form method="POST">
                            {% csrf_token %}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                    
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">€</div>
                                </div>
                                <input type="number" class="form-control" name="new_price" placeholder="9.99" required id="id_new_price">
                                <button class="btn btn-primary btn-sm">Submit</button>
                            </div>
                            </form>
                        </div>
                    </div>
                        <div>
                            <p style="font-size:14px;font-style:italic;"> Recommended Target Price range: €{{current_price|discount:60}} to {{current_price|discount:20}}</p>
                            {{div|safe}}
                        </div>
                    </div>     
                    <div>
                        <a href ="{% url "confirm-delete" product_auth%}"
                            <button class="btn btn-primary btn-sm">Stop monitoring</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"
            crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"
            crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.3.min.js"
            crossorigin="anonymous"></script>
{{ script | safe }}
{% endblock %}