{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-title %}
Fashion Price Checker
{% endblock %}

{% comment %} {% block css_files %} 
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock %} {% endcomment %}


{% block header %}
<h1 class="mb-5">Product submitted sucessfully!</h1>
<h3 class="mb-5">We're keeping an eye on it for you.</h3>
<a href ="{% url "product-page" product_auth%}"
    <button class="btn btn-primary btn-md">Go to product</button>
</a>
{% endblock %}
{% block content %}
<section class="showcase">
    {% include "./includes/how_to.html"%}
</section>
{% endblock %}