{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-title %}
Fashion Price Checker
{% endblock %}

{% comment %} {% block css_files %} 
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock %} {% endcomment %}


{% block header %}
<h1 class="mb-5">
    {% if product.price_alt == "False" %}
    Woops! Looks like you're already monitoring this product.
    {% else%}
    Looks like you've submitted a new target price for "{{ title }}"
    {% endif %}
</h1>
<h3 class="mb-5">
    {% if product.price_alt == "False" %}
    Click below to see it:
    {% else%}
    Would you like to change it?
    {% endif %}
</h3>
{% if product.price_alt == "False" %}
<a href ="{% url "product-page" product.auth_token %}"
    <button class="btn btn-primary btn-md">Go to product</button>
</a>
{% else%}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Yes</button>  
            </form>
        </div>
        <div class="col-lg-6">
            <a href ="{% url "product-page" product.auth_token%}"
                <button class="btn btn-primary btn-lg">No</button>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}      
{% block content %}          
<section class="showcase">
    {% include "./includes/how_to.html"%}
</section>
{% endblock %}