{% extends "base.html" %}
{% load static %}
{% comment %}  this html extends base.html and will insert code sections particular to this page into
the template blocks that were predetermined on "base" {% endcomment %}

{% block page-title %}Fashion Price Checker{% endblock %}
{% block header %}
    <h1 class="mb-5">Product submitted successfully!</h1>
    <h3 class="mb-5">We're keeping an eye on it for you.</h3>
    <a href ="{% url "product-page" product_auth %}"
        <button class="btn btn-primary btn-md">Go to product</button>
    </a>
{% endblock %}
{% block content %}
    <section class="showcase">
        {% comment %} include here the code snippet from how_to.html {% endcomment %}
        {% include "./includes/how_to.html" %}
    </section>
{% endblock %}
